# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore VSCode settings
.vscode/
.history/

# Ignore working files and temp files
working_files/

# Ignore local folder with screenshots etc.
html_snapshots/
screenshots/